{
  "ClientID": "<your-client-id>",
  "ClientSecret": "<your-secret-key>",
  "Endpoint": {
    "AuthURL": "https://login.eveonline.com/v2/oauth/authorize",
    "TokenURL": "https://login.eveonline.com/v2/oauth/token"
  },
  "RedirectURL": "http://localhost:8080/callback",
  "Scopes": [
   "esi-wallet.read_character_wallet.v1",
   "esi-contracts.read_character_contracts.v1"
  ]
}
